/* you can explore ans shop many differnt collection from various barands here.

position: absolute;
width: 682px;
height: 119px;
left: 304px;
top: 406px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 55px;
/* or 183% */
/* text-transform: capitalize; */

/* Dark */
/* color: #000000; */


/* top-main */
