body {
    font-family: "Roboto", sans-serif;
}

select::-ms-expand {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.title {
    @apply text-3xl font-semibold capitalize text-center mb-8;
}